/*
* @Author: Marte
* @Date:   2018-02-13 19:25:10
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-14 16:05:57
*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* 头部字体 */
body{
    background-color: #f4f4f4;
}

.header{
    height: 35px;
    width: 1190px;
    margin: auto;
    border: 1px solid black;
}

.icon_more_unfold::after{
    content: "";
    display: inline-block;
    clear: both;
    width: 10px;
    height:10px;
    background-image: url(../imag/more_unfold.svg);
    background-size: 10px 10px;
}

.icon_shoping_car::before{
    background-image: url(../imag/shoping_car.svg);
}
.icon_five_star::before{
    background-image: url(../imag/five_star.svg);
}
.icon_menu::before{
    background-image: url(../imag/menu.svg);
}
.icon_shoping_car::before,
.icon_five_star::before,
.icon_menu::before{
    content: "";
    display: inline-block;
    clear: both;
    line-height: 16px;
    width: 16px;
    height:16px;
    background-size: 15px 15px;
}

}

.header-l
{
    float: left;
}
.header-r{
    float:right;
}
.header-menu{
    float: left;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;
    color: #6C6C6C;
    font-family: global-iconfont;
    font-size: 12px;
    font-style: normal;
}
.header-l-1,
.header-l-2,
.header-l-3{
    height: 35px;

}
.header-l-3{
    width: 79px;
}
.header-l-2{
    width: 134px;
}

.ad{
    height: 70px;
    border: 1px solid black;
}

.blank{
    height: 10px;
    border: 1px solid black;
}

.toptab{

    width: 1190px;
    height: 30px;
    border: 1px solid black;
    margin: 0 auto;
}

.mainwrapper{
    width: 1190px;
    height: 632px;
    border: 1px solid black;
    margin: 0 auto;
}

.left{
    display: inline-block;
    width: 890px;
    height: 632px;
    border: 1px solid black;
}
.right{
    display: inline-block;
    width: 300px;
    height: 632px;
    /* border: 1px solid black; */
}
.lefttab{
    float: left;
    display: inline-block;
    width: 190px;
    height: 522px;
    border: 1px solid #ff5000;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
}

.admain1{
    padding-top: 5px;
    float: right;
    display: inline-block;
    width: 698px;
    height: 280px;
    background-color: red;

}
.banner{
    float: right;
    display: inline-block;
    width: 698px;
    height: 30px;
    background-color: orange;

}

.admain2{
    float: right;
    display: inline-block;
    width: 698px;
    height: 212px;
    background-color: green;

}

#font-red{
    color: #f40;
}



/* 鼠标触发事件start */
/* 字体变红 begin*/
.click-turn-red:hover{
    color: #f40;
}
/* 字体变红 begin*/

/* 背景变白start */
.click-turn-w:hover{
    background-color: #fff;
}
/* 背景变白end */

/* 鼠标触发事件end */